<!DOCTYPE html>
<html lang="uk"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Home</title>
</head>
<body>
<div layout:fragment="content">
    <h1 class="text-3xl font-bold mb-4 text-gray-900">Тут колись буде головна сторінка, а зараз дивись на котика :)</h1>
    <img src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExeGpwdDUwbmJhaGllcGI2NXVvM2dtMHpibDhxbjVhcmM2enV0cnV4YSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3nbxypT20Ulmo/giphy.gif"
         alt="Милий котик"
         class="mx-auto rounded-lg shadow-lg max-w-sm">
    <a class="mx-auto rounded-lg shadow-lg max-w-sm bg-green-500 text-white p-4" href="/users">Користувачі</a>
</div>
</body>
</html>